<div class="holder">
    <common-header title="景点图片"></common-header>
    <div class="constainer">
        <div class="wrapper">

            <swiper :options="swiperOptionTop" class="gallery-top" ref="swiperTop">
                <swiper-slide v-for="slide in swiperImg" :key="slide.backgroundImage" v-bind:style="slide" ></swiper-slide>

                <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
                <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
            </swiper>
        </div>

        <!-- swiper2 Thumbs -->

        <swiper :options="swiperOptionThumbs" class="gallery-thumbs" ref="swiperThumbs">
          <swiper-slide v-for="slide in swiperImg" :key="slide.backgroundImage" v-bind:style="slide" ></swiper-slide>
        </swiper>
    </div>
</div>