<div class="outer">
    <div class="row"><span class="title"> {{message.title}}</span> 
    <span class="close" v-on:click="onclose"    v-if="close" > X</span></div>
    <div class="content">
        <div class="detail"> {{message.dec}}</div>
        <div class="more">
             <a v-on:click="navDetail">更多详情</a>
        </div>
        <div class="distent">距离200m</div>
    </div>
    <div class="buttom">
        <a class="holder" v-on:click="play">
            <span class="icon">
               <img src="../../assets/img/play_button.png" alt="">
            </span>
            <span class="title">播放</span>
        </a>
        <a class="holder" v-on:click="navImg">
            <span class="icon">
               <img src="../../assets/img/img.png" alt="">
            </span>
            <span class="title" >图片</span>
        </a>
        <a class="holder" v-on:click="navPanoramic">
            <span class="icon">
               <img src="../../assets/img/panoramic.png" alt="">
            </span>
            <span class="title" >全景</span>
        </a>
        <a class="holder">
            <span class="icon">
              <img src="../../assets/img/route.png" alt="">
           </span>
            <span class="title">去这里</span>
        </a>
    </div>
</div>